@{
    ViewBag.Title = "Artist | Museum | Object";
}

<h2>Artist | Museum |Object</h2>
<div class="container">
    <h3>A different kind of data visualization.</h3>
    <p>The purpose of this small project is to show art as a series of connections.  This example starts with the artist.  From there we link to cultural heritage institutions. And finally we can view the object itself.</p>
    <br />
    <h3>Me</h3>
    <p>I am a museum data geek.  I like to make and play around with APIs.</p>
    <p>You can reach me at sam[fillinthesymbol]france-usa.org or Twitter @smoore4moma.</p>
</div>




