@charset "utf-8";
/* CSS for artist|museum|object|connection */

a:hover, a:focus { text-decoration:none;}

.link10 { stroke: #ccc; stroke-width: 2px; stroke-dasharray: 5,5; }
.link1 { stroke: #000; stroke-width: 2px;}
.nodetext { text-decoration:none;}

.node.type1 {
  fill:#000;
}
.node.type2 {
  fill:#2176C7;
}
.node.type3 {
  fill:#C61C6F;
}
.node.type4 {
  fill:#FFFFFF;
  stroke:#ccc; 
  stroke-width: 3px;
}

.node.type5 {
	fill:#1BC9E0;
}

.node.type6 {
	fill:#E01B98;
}

image.circle {
	cursor:pointer;
}

.fadein{
display:none;
font-size:20px;
}

.nodewrap { 
    line-height:normal;
    text-align:left;
    text-decoration:none;
}


/* tooltip */

.tooltip {
    position: absolute;
    padding: 10px;
    border-radius: 8px;
    background: #D8D8D8;
    /* visibility: hidden; */
}


#tooltipImage {
    vertical-align: top;
    text-align: left;
    padding: 30px 5px 30px 30px;
}

#tooltipData {
    vertical-align: top;
    text-align: left;
    padding: 30px 30px 10px 5px;
    max-width: 200px;
}


/* search */

#search-artist{
    float:right;
}

#tbSearchArtist{
    float: right;
    width: 400px;  
}

#search-results{
    float: right;
    
    width: 120px;
}
